
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sellup"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-feature />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/fow"
        android:label="Mycel"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCKJRYDGu7XgD12VSyLGNQ0hs639U-kby0" />
        <meta-data
            android:name="DATABASE"
            android:value="sugar_example.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example" />

        <activity
            android:name="com.example.sellup.SellActivity"
            android:label="@string/app_name" >
          
        </activity>
        <activity
            android:name="com.example.sellup.SignupActivity"
            android:label="@string/title_activity_signup" >
        </activity>
        <activity
            android:name="com.example.sellup.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name="com.example.sellup.DealsActivity"
            android:label="@string/title_activity_deals" >
        </activity>
        <activity
            android:name="com.example.sellup.ProfilerActivity"
            android:label="@string/title_activity_profiler" >
        </activity>
        <activity
            android:name="com.example.sellup.UploadedActivity"
            android:label="@string/title_activity_uploaded" >
        </activity>
        <activity
            android:name="com.example.sellup.UploaderActivity"
            android:label="@string/title_activity_uploader" >
        </activity>
        <activity
            android:name="com.example.sellup.Tracker"
            android:label="@string/title_activity_tracker" >
        </activity>
        <activity
            android:name="com.example.sellup.SessionHandler"
            android:label="@string/title_activity_session_handler" >
        </activity>
        <activity
            android:name="com.example.sellup.ProductActivity"
            android:label="@string/title_activity_product" >
        </activity>
        
        <activity
            android:name="com.example.sellup.SplashActivity"
            android:label="@string/title_activity_splash" >
              <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
